
@{
}
<div class="container">
	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col">

							<form method="post" action="/Account/Login">
								<div>
									<label>البريد الإلكتروني:</label>
									<input type="email" name="email" required />
								</div>
								<button type="submit" class="align-content-center">تسجيل الدخول</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>