
@{
}
<div class="container">
    <div class="row mt-4">

      <div class="col ">
            <div class="card mt-4">
			<div class="card-body">
				<div class="row">
					<div class="col">
                        <form method="post" action="/Account/Register">
                            <div>
                                    <label>الاسم الكامل:</label>
                                <input type="text" name="fullName" required />
                            </div>
                            <div>
                                    <label>البريد الإلكتروني:</label>
                                <input type="email" name="email" required />
                            </div>
                            <div>
                                    <label>رقم الهاتف:</label>
                                <input type="text" name="phoneNumber" required />
                            </div>
                            <div>
                                    <label>العنوان:</label>
                                <textarea name="address" required></textarea>
                            </div>
                                        <button type="submit" class="btn-hover color-1">تسجيل</button>
                        </form>
					</div>
				</div>
			</div>
		</div>
      </div>
	</div>
</div>