@model IEnumerable<City>

<div class="container mt-5">
    <h1 class="text-center mb-4">اختر المدينة</h1>
    <div class="row justify-content-center">
        @foreach (var city in Model)
        {
            <div class="col-md-6 mb-4">
                <div class="card shadow-sm">
                    
                    <img src="~/images/@(city.Name).jpg" alt="@city.Name" class="card-img-top img-fluid" style="height: 300px; object-fit: cover;">

                    <div class="card-body text-center">
                       
                        <h5 class="card-title">@city.Name</h5>

                        
                        <a href="/City/Companies?cityId=@city.Id" class="btn btn-primary mt-3">عرض شركات قطع الغيار</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>